version: "3.8"

services:
  zk1:
    image: zookeeper:3.9.4
    container_name: zk1
    hostname: zk1
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"
    networks:
      - ch-net

  ch1:
    image: clickhouse/clickhouse-server:24.7.2.13
    container_name: ch1
    hostname: ch1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: default123
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
    ports:
      - "8124:8123" # HTTP
      - "9001:9000" # native
    networks:
      - ch-net
    volumes:
      - ./config/cluster.xml:/etc/clickhouse-server/config.d/cluster.xml:ro
      - ./config/ch1/macros.xml:/etc/clickhouse-server/config.d/macros.xml:ro
      - ./init:/docker-entrypoint-initdb.d:ro
      - ch1_data:/var/lib/clickhouse

  ch2:
    image: clickhouse/clickhouse-server:24.7.2.13
    container_name: ch2
    hostname: ch2
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: default123
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
    ports:
      - "8125:8123"
      - "9002:9000"
    networks:
      - ch-net
    volumes:
      - ./config/cluster.xml:/etc/clickhouse-server/config.d/cluster.xml:ro
      - ./config/ch2/macros.xml:/etc/clickhouse-server/config.d/macros.xml:ro
      - ch2_data:/var/lib/clickhouse

  ch3:
    image: clickhouse/clickhouse-server:24.7.2.13
    container_name: ch3
    hostname: ch3
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: default123
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
    ports:
      - "8126:8123"
      - "9003:9000"
    networks:
      - ch-net
    volumes:
      - ./config/cluster.xml:/etc/clickhouse-server/config.d/cluster.xml:ro
      - ./config/ch3/macros.xml:/etc/clickhouse-server/config.d/macros.xml:ro
      - ch3_data:/var/lib/clickhouse

networks:
  ch-net:

volumes:
  ch1_data:
  ch2_data:
  ch3_data:
